@charset "UTF-8";
@import url("/umkc-standards/umkc-styles.css");
/* CSS Document */

/* Standard Colors 
Blue: #0066cc
Dark Blue: #0e3e6e
Sky Blue: #68ace5
Gray: #6d7981
Dark Gray: #36424a
Light Gray: #dfe5e6
Red: #ab0823
Orange: #d6492a
Yellow: #da9800
Green: #5f692d
Tan: #f4f0e5
*/

body { margin: 0; padding: 0; background: #FFFFFF; }

p { font-size: 1em; line-height: 1.2em; padding: 0 0 5px 0; margin: 0;}
h1 { font-size: 2em; color: #0066cc; padding: 0 0 5px 0; font-weight: normal; margin: 0;}
h2 { font-size: 1.5em; color: #0066cc; font-weight: normal; padding: 0 0 7px 0; margin: 0; line-height: 1em}
h3 { font-size: 1.2em; color: #0066cc; padding: 0 0 5px 0; margin: 0;}
h4 { font-size: 1.1em; color: #0066cc; padding: 0 0 10px 0; margin: 0;}
h5 { font-size: 1em; color: #36424a; letter-spacing: 1px; font-weight: normal; padding: 7px 0 2px 0; margin: 0;}
h6 { font-size: 1em; color: #0e3e6e; font-weight: normal; padding: 10px 0 2px 0; margin: 0;}

a:link { text-decoration: none; color:#36424a; }
a:visited { text-decoration: none;  color:#36424a; }
a:hover { text-decoration: underline;  color:#0066cc; }
a:active { text-decoration: underline; color:#0066cc;  }

form { padding: 0 0 10px 0; margin: 0; }
input { padding: 0; margin: 0; }


/* ------- Layout ------- */
#alert_message {
position: relative;
margin-left: auto;
margin-right: auto;
text-align: left;
width: 940px;
font-family: Helvetica; 
font-size: 14px;
padding: 10px;
text-align: center;
height: auto;
background: #ab0823;
color: #ffffff;
}

#umkcalert {
position: relative;
background: #ab0823;
color: #FFFFFF;
font-size: 1.2em;
font-weight: bold;
text-align: center;
margin-left: auto;
margin-right: auto;
padding: 20px;
width: 900px;
}

#wrapper {
position: relative;
width: 100%;
font-family: Helvetica; 
font-size: 68.75%;
text-align: left;
min-height: 370px;
}

#innerwrap {
position: relative;
margin-left: auto;
margin-right: auto;
text-align: left;
width: 940px;
padding: 20px 0;
}

/* ------- Sidebar -------*/
#sidebarwrap {
position: relative;
float: left;
width: 180px; /*--This sets the WIDTH of the menu BACKGROUND-*/
padding: 0 15px 0 0;
z-index: 11000;
}

#sidebar, #sidebar ul {
list-style: none;
text-align: left;
padding: 0;
margin: 0;
width: 180px;
}

#sidebar a {
display: block;
width: 90%; /*--This sets the WIDTH of the first layer menu TEXT--*/
color: #0e3e6e;  /*--This sets the COLOR of the first layer menu TEXT--*/
text-decoration: none;
font-size: 1.2em;
padding: 5px 0 5px 10%;
}

#sidebar li {
width: 100%; /*--This sets the WIDTH of the first layer menu HOVER-*/
float: left;
height: 15px;
line-height: .8em; /*--This sets the HEIGHT of first layer menu items-*/
padding: 5px 0 10px 0;
margin: 0;
border-bottom: 1px solid #dfe5e6;
}

#sidebar li:hover, #sidebar li.sfhovers {
background: url(/images/nav-rollover.gif) left center;  /*--This sets the COLOR of the first layer menu HOVER--*/
}

#sidebar li:hover a, #sidebar li.sfhovers a {
color: #ffffff!important;
}

#sidebar li li:hover, #sidebar li li.sfhovers {
background: url(/images/gold.gif);  /*--This sets the COLOR of the second layer menu HOVER--*/
}
#sidebar li li:hover a, #sidebar li li.sfhovers a {
color: #0e3e6e!important;  /*--This sets the COLOR of the second layer menu HOVER--*/
}

.last { border-bottom: none !important; }

#quicklink {
list-style: none;
text-align: center;
padding: 135px 0 0 0;
margin: 0 0 10px 0;
width: 100%;
background: url(/images/choose-umkc.jpg) no-repeat top center;
border: 1px solid #dfe5e6;
}

#quicklink a {
color: #36424a;
font-weight: bold;
text-decoration: none;
font-size: 1.1em;
padding: 0;
}

#quicklink a:hover {
color: #0066cc;
}

#sidebarmobile {
display:none;
}

#applylinks {
font-family: 'Oswald', sans-serif;
font-size: 1.3em;
}

#applylinks a {
display: inline-block;
font-weight: normal;
padding: 0 5px 5px 5px;
margin: 2px 0;
}


/* ------- Content ------ */

#content {
position: relative;
width: 550px;
float: left;
}

/* ------- News and Events ------- */

#resources {
position: relative;
float: left;
width: 180px;
padding: 2px 0 20px 15px;
}

.tabbed_area {
	border:1px solid #d6dde0;
	background-color:#636d76;
	padding:5px;	
}

ul.tabs {
	margin:0px; padding:0px;
	margin-top:6px;
	margin-bottom:7px;
}
ul.tabs li {
	list-style:none;
	display:inline;
}
ul.tabs li a {
	background-color:#0e3e6e;
	color:#fff;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:10px;
	font-family: Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #d6dde0;
}
ul.tabs li a:hover {
	background-color:#36424a;
	border-color:#d6dde0;
}
ul.tabs li a.active {
	background-color:#ffffff;
	color:#282e32;
	border:1px solid #d6dde0; 
	border-bottom: 1px solid #ffffff;
	background-image:url(/umkc-standards/images/tab_on.jpg);
	background-repeat:repeat-x;
	background-position:top;	
}
.tabcontent {
	background-color:#ffffff;
	padding:0 10px 25px 10px;
	border:1px solid #d6dde0; 	
	font-family: Helvetica, sans-serif;
	background-image:url(/umkc-standards/images/content_bottom.jpg);
	background-repeat:repeat-x;	 
	background-position:bottom;	
}
#content_2, #content_3 { display:none; }

.tabcontent ul {
	margin:0px;
	padding:0px 6px 0px 6px;
}
.tabcontent ul li {
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:12px;
	padding-bottom:12px;
	font-size:12px;
}
.tabcontent ul li:last-child {
	border-bottom:none;
}
.tabcontent ul li a {
	text-decoration:none;
	color:#3e4346;
}
.tabcontent ul li a:hover {
	color:#0066cc;
}

h4.more a {
	display: inline-block;
	background: #da9800;
	padding: 5px;
	width: auto;
	float: left;
	margin: 0 3px 0 0;
}

.more a:link { color: #fff; }
.more a:visited { color: #fff; }
.more a:hover { color: #fff; }
.more a:active { color: #fff; }

.tabcontent img {
	float: left;
	margin-right: 3px;
	margin-top: -10px;
}

#facebook { background: url(/umkc-standards/social/icon-facebook-a.jpg) no-repeat; width: 22px; height: 21px; margin-top: -9px; float: right; padding-left: 5px; }
#facebook:hover { background: url(/umkc-standards/social/icon-facebook-b.jpg) no-repeat;}
#twitter { background: url(/umkc-standards/social/icon-twitter-a.jpg) no-repeat; width: 22px; height: 21px; margin-top: -9px; float: right; padding-left: 5px; }
#twitter:hover { background: url(/umkc-standards/social/icon-twitter-b.jpg) no-repeat;}
#youtube { background: url(/umkc-standards/social/icon-youtube-a.jpg) no-repeat; width: 22px; height: 21px; margin-top: -9px; float: right; padding-left: 5px; }
#youtube:hover { background: url(/umkc-standards/social/icon-youtube-b.jpg) no-repeat;}


/* ------- Features -------*/

#featurewrap {
background: url(/images/bottom-rpt.jpg) repeat-x;
position: relative;
font-family: Helvetica; 
font-size: 68.75%;
width: 100%;
height: 100%;
}

#feature {
margin-left: auto;
margin-right: auto;
width: 940px;
height: 170px;
text-align: left;
}

#wrapper:before,
#wrapper:after,
#feature:before,
#feature:after {
	content: '';
	display: table;
}

#wrapper:after,
#feature:after {
	clear: both;
}

.feature-column {
float: left;
width: 180px;
margin-top: 15px;
margin-left: 15px;
background-color: #36424a;
border: 2px #FFFFFF solid;
text-align: right;
}

.feature-last {
float: left;
width: 113px;
height: 125px;
margin-top: 15px;
margin-left: 15px;
}

.feature-last img {
border: 2px #FFFFFF solid;
margin-bottom: 4px;
}

.feature-first {
float: left;
width: 115px;
height: 125px;
margin-top: 15px;
margin-left: 15px;
background-color: #ffffff;
background-image: url(/images/tool-bkgd.gif);
background-repeat: no-repeat;
border: 2px #ffffff solid;
text-align: left;
}

.tools {
padding: 10px;
margin: 0;
}
.tools p { padding: 0 0 2px 0; }

.column a:link { color: #ffffff; text-decoration: none; }
.feature-column .column a:link{
	position: relative;
	top:3px;
}
.column a:visited { color: #ffffff; text-decoration: none; }
.column a:hover { color: #ffcc00; text-decoration: none;}
.column a:active { color: #ffcc00; text-decoration: none;}

.column {
height: 22px;
margin-right: 5px;
text-align: right;
background: url(/images/feature-arrow.gif) center right no-repeat;
padding: 3px 0 0 0;
}
#umkc_footer { margin-top: 0; padding-top: 30px; }

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

@media screen and (max-width: 940px) {
#wrapper {
min-height: inherit;
}

#innerwrap {
width: 96%;
}

#content {
width: 64%;
}

#resources {
width: 34%;
padding: 2px 0 20px 2%;
}

#sidebarwrap {
display: none;
}

#sidebarmobile {
display: block;
position: relative;
width: 100%;
font-family: 'Oswald', sans-serif;
font-size: 1.2em;
background: #36424a;
padding: 0 0 0 12px;
}

#sidebarmobile a {
float: left;
display: block;
color: #fff;
font-weight: bold;
text-decoration: none;
font-size: 1em;
padding: 0;
display: inline-block;
font-weight: normal;
padding: 1% 1.2%;
margin: 0;
border-right: 1px #6d7981 solid;
}

#sidebarmobile a:hover {
color: #fff;
background: #0066cc;
}

.choose a { background: #da9800; }

.camera_pag {
display: none;
}

.tabcontent ul li {
padding-top:6%;
padding-bottom:6%;
}

#featurewrap {
background: #4e94da url(/images/bottom-rpt.jpg) bottom repeat-x;
clear: both;
padding-bottom: 40px;
}

#feature {
margin-left: 0;
margin-right: 0;
width: 100%;
min-height: auto;
height: auto;
}

.feature-last {
width: auto;
height: auto;
}

.feature-column {
width: 23%;
margin: 1% 0 1% 1%;
}

.feature-column a > img {
width: 100%;
}

.column a > img { display: none; }

.column {
background: none;
}

.feature-last {
float: left;
margin-top: 0;
margin-left: 0;
width: 100%;
}

.feature-last img {
margin-bottom: 0;
margin-left: 1%;
}

}

@media screen and (max-width: 640px) {
.tabcontent ul li {
padding-top:4%;
padding-bottom:4%;
}
}

@media screen and (max-width: 600px) {
#sidebarmobile {
width: 100%;
padding: 0;
}

#sidebarmobile a {
width: 21%; 
padding: 1% 1.9%;
text-align: center;
border-bottom: 1px #6d7981 solid;
}

#sidebarmobile .noright a { border-right: none; }

}

@media screen and (max-width: 570px) {
#content {
width: 100%;
}

#resources {
width: 100%;
padding: 2px 0 20px 0;
margin-top: -15px;
}

.tabcontent ul li {
padding-top:2%;
padding-bottom:2%;
}

.feature-column {
border-width: 1px;
width: 22%;
margin: 2% 0 3% 2%;
}

.column { display: none; }

.feature-last a {
float: left;
margin-top: 0;
margin-left: 2%;
width: 30%;
text-align: center;
}

.feature-last img {
margin-bottom: 0;
margin-left: 1%;
border: none;
}

.blackboard { background: #dfe5e6; border: #fff solid 1px; }
.pathway { background: #ffffff; border: #fff solid 1px; }
.webmail { background: #da9800; border: #fff solid 1px; }

}

@media screen and (max-width: 500px) {

#sidebarmobile {
font-size: 1em;
}

#sidebarmobile a {
padding: 2% 1.9%;
}

}

@media screen and (max-width: 450px) {

#sidebarmobile { 
font-size: 1em;
}

#sidebarmobile a {
padding: 3% 1%;
width: 47.8%;
}

#sidebarmobile .noright a { border-right: 1px solid #fff; }

#sidebarmobile .noright2 a { border-right: none; }

.feature-column {
width: 46.2%;
margin: 2% 0 0 2%;
}

.feature-last {
margin-top: 2%;
}

.feature-last a > img {
width: 100%;
}

}

@media screen and (max-width: 300px) {

#sidebarmobile { 
font-size: 1em;
}

#sidebarmobile a {
padding: 4% 2%;
width: 96%;
}

#sidebarmobile .noright a { border-right: 1px solid #fff; }

#sidebarmobile .noright2 a { border-right: none; }

.camera_wrap p { display: none; }

}